{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Match ID</th>
            <th>Match start</th>
            {#            <th>Round</th>#}
            <th>Country</th>
            <th>League</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>1</th>
            <th>X</th>
            <th>2</th>
            <th>Handicap</th>
            <th>Over</th>
            <th>Under</th>
            <th colspan="2">Score</th>
            <th>Prediction</th>
        </tr>
        </thead>

        <tbody>

        {% set homeWinV3Count = 0 %}

        {% set homeWinV3Succes = 0 %}

        {% for prediction in predictions %}

            {% if prediction['prediction_home_win_V3'] is not empty %}
                {% set homeWinV3Count = homeWinV3Count + 1 %}
            {% endif %}

            {% if prediction['prediction_home_win_V3'] is not empty and (prediction['home_score'] > prediction['away_score']) %}
                {% set homeWinV3Succes = homeWinV3Succes + 1 %}
            {% endif %}

            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ prediction['match_id'] }}</td>
                <td>{{ prediction['match_start'] }}</td>
                {#                <td>{{ prediction['round'] }}</td>#}
                <td>{{ prediction['country_name'] }}</td>
                <td>{{ prediction['league_name'] }}</td>
                <td>{{ prediction['home_team_name'] }}</td>
                <td>{{ prediction['away_team_name'] }}</td>
                <td>{{ prediction['home_odds'] }}</td>
                <td>{{ prediction['draw_odds'] }}</td>
                <td>{{ prediction['away_odds'] }}</td>
                <td>{{ prediction['handicap'] }}</td>
                <td>{{ prediction['goals_over'] }}</td>
                <td>{{ prediction['goals_under'] }}</td>
                <td>{{ prediction['home_score'] }}</td>
                <td>{{ prediction['away_score'] }}</td>
                <td>{{ prediction['prediction_home_win_V3'] }}</td>
            </tr>
        {% endfor %}

        {% set homeWinV3CountFinal = homeWinV3Count %}

        {% if homeWinV3Count == 0 %}
            {% set homeWinV3CountFinal = 1 %}
        {% endif %}

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ homeWinV3Succes }}  / {{ homeWinV3Count }} ({{ (homeWinV3Succes / homeWinV3CountFinal)|round(2) * 100  }} %)</td>
        </tr>

        </tbody>



    </table>

{% endblock %}